@model CRM.Areas.Identity.Data.ApplicationUser
@{ 
    ViewData["Title"] = "Change PAssword";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="card-body">
    <p class="login-box-msg">Change Password</p>

    @using (Html.BeginForm("ChangePassword", "UserRoles", FormMethod.Post))
    {
<div asp-validation-summary="All" class="text-danger"></div>
                                <div class="input-group mb-3">
                                    <input asp-for="PasswordHash" class="form-control" placeholder="Enter New Password..!" /><br />
                                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-lock"></span>
                                        </div>
                                    </div>
                                </div>
                                                <div class="input-group mb-3">
                                                    <input asp-for="PasswordHash" class="form-control" placeholder="Re-Enter Password..!" />
                                                    <span asp-validation-for="PasswordHash" class="text-danger"></span>
                                                    <div class="input-group-append">
                                                        <div class="input-group-text">
                                                            <span class="fas fa-lock"></span>
                                                        </div> 
                                                    </div>
                                                </div>
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        <button type="submit" class="btn btn-primary">Change Password</button>
                                                                    </div>
                                                                </div>}
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


