
@model CRM.Areas.Identity.Data.ApplicationUser
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
 }


<div class="card-body">
    <p class="login-box-msg">Edit account</p>

    @using (Html.BeginForm("EditUser", "UserRoles", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
<div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" value="@Model.Id" />
                                <div class="input-group mb-3">
                                    <input asp-for="FullName" class="form-control" placeholder="Enter Full  Name..!" /><br />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                              
                                                                <div class="input-group mb-3">
                                                                    <input asp-for="UserName" class="form-control" placeholder="Enter user Name..!" /><br />
                                                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                                                    <div class="input-group-append">
                                                                        <div class="input-group-text">
                                                                            <span class="fas fa-envelope"></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                                <div class="input-group mb-3">
                                                                                    <input asp-for="Email" class="form-control" placeholder="Enter Email..!" /><br />
                                                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                                                    <div class="input-group-append">
                                                                                        <div class="input-group-text">
                                                                                            <span class="fas fa-envelope"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                                <div class="input-group mb-3">
                                                                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                                                                    <input type="file" placeholder="Select Image..!"
                                                                                                           accept=".png,.jpg,.jpeg,.gif,.tif"
                                                                                                           asp-for="ProfilePicture"
                                                                                                           class="form-control"
                                                                                                           style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                                                                                                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                                                                                                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                                                                                                </div>
                                                                                                                <div class="row">
                                                                                                                    <div class="col-4">
                                                                                                                        <button type="submit" class="btn btn-primary">Register</button>
                                                                                                                    </div>
                                                                                                                </div>}
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
